# 폐암환자 생존률 예측

In [3]:
import numpy as np 
import pandas as pd
from google.colab import files

uploaded = files.upload()

Saving ThoraricSurgery.csv to ThoraricSurgery.csv

In [4]:
filename = list(uploaded.keys())[0]
filename

'ThoraricSurgery.csv'

In [27]:
df = pd.read_csv(filename, header=None)
df.head(3)

    0   1     2     3   4   5   6   7   8   9   10  11  12  13  14  15  16  17
0  293   1  3.80  2.80   0   0   0   0   0   0  12   0   0   0   1   0  62   0
1    1   2  2.88  2.16   1   0   0   0   1   1  14   0   0   0   1   0  60   0
2    8   2  3.19  2.50   1   0   0   0   1   0  11   0   0   1   1   0  66   1

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470 entries, 0 to 469
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       470 non-null    int64
 1   1       470 non-null    int64
 2   2       470 non-null    float64
 3   3       470 non-null    float64
 4   4       470 non-null    int64
 5   5       470 non-null    int64
 6   6       470 non-null    int64
 7   7       470 non-null    int64
 8   8       470 non-null    int64
 9   9       470 non-null    int64
 10  10      470 non-null    int64
 11  11      470 non-null    int64
 12  12      470 non-null    int64
 13  13      470 non-null    int64
 14  14      470 non-null    int64
 15  15      470 non-null    int64
 16  16      470 non-null    int64
 17  17      470 non-null    int64
dtypes: float64(2), int64(16)
memory usage: 66.2 KB

# 데이터 셋

In [10]:
from sklearn.model_selection import train_test_split
import tensorflow as tf

In [11]:
# seed값 설정
seed = 2021
np.random.seed(seed)
tf.random.set_seed(seed)

In [29]:
X_train, X_test, y_train, y_test = train_test_split(
    df.iloc[:, :-1].values, df.iloc[:, -1].values, stratify=df.iloc[:, -1].values,
    random_state=seed
)

모델정의/설정/학습/평가

In [16]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [30]:
model = Sequential()
model.add(Dense(30, input_shape=(17,), activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 30)                540
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 31
=================================================================
Total params: 571
Trainable params: 571
Non-trainable params: 0
_________________________________________________________________

In [31]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [32]:
model.fit(X_train, y_train, validation_split=0.2, epochs=30, batch_size=10)

Epoch 1/30
29/29 [==============================] - 4s 13ms/step - loss: 25.3434 - accuracy: 0.1269 - val_loss: 2.9730 - val_accuracy: 0.5775
Epoch 2/30
29/29 [==============================] - 0s 3ms/step - loss: 2.8909 - accuracy: 0.5565 - val_loss: 2.8874 - val_accuracy: 0.7183
Epoch 3/30
29/29 [==============================] - 0s 3ms/step - loss: 2.0689 - accuracy: 0.7449 - val_loss: 2.2911 - val_accuracy: 0.7324
Epoch 4/30
29/29 [==============================] - 0s 3ms/step - loss: 2.4199 - accuracy: 0.7258 - val_loss: 1.8000 - val_accuracy: 0.7746
Epoch 5/30
29/29 [==============================] - 0s 3ms/step - loss: 1.7370 - accuracy: 0.6967 - val_loss: 1.2921 - val_accuracy: 0.7746
Epoch 6/30
29/29 [==============================] - 0s 4ms/step - loss: 0.8784 - accuracy: 0.7927 - val_loss: 1.0471 - val_accuracy: 0.7746
Epoch 7/30
29/29 [==============================] - 0s 3ms/step - loss: 0.7382 - accuracy: 0.7521 - val_loss: 0.8090 - val_accuracy: 0.7606
Epoch 8/30
29/29 [==============================] - 0s 3ms/step - loss: 0.6937 - accuracy: 0.7057 - val_loss: 0.7593 - val_accuracy: 0.8310
Epoch 9/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4998 - accuracy: 0.8209 - val_loss: 0.8197 - val_accuracy: 0.8028
Epoch 10/30
29/29 [==============================] - 0s 3ms/step - loss: 0.5143 - accuracy: 0.8782 - val_loss: 0.6249 - val_accuracy: 0.8028
Epoch 11/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4712 - accuracy: 0.8473 - val_loss: 0.6489 - val_accuracy: 0.7887
Epoch 12/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4030 - accuracy: 0.8739 - val_loss: 0.6790 - val_accuracy: 0.8028
Epoch 13/30
29/29 [==============================] - 0s 3ms/step - loss: 0.5012 - accuracy: 0.8378 - val_loss: 0.8238 - val_accuracy: 0.8028
Epoch 14/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4530 - accuracy: 0.8764 - val_loss: 0.6452 - val_accuracy: 0.8028
Epoch 15/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4184 - accuracy: 0.8517 - val_loss: 0.6361 - val_accuracy: 0.8028
Epoch 16/30
29/29 [==============================] - 0s 4ms/step - loss: 0.4005 - accuracy: 0.8661 - val_loss: 0.6867 - val_accuracy: 0.8028
Epoch 17/30
29/29 [==============================] - 0s 3ms/step - loss: 0.5403 - accuracy: 0.8222 - val_loss: 0.9293 - val_accuracy: 0.8028
Epoch 18/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4174 - accuracy: 0.8752 - val_loss: 0.6574 - val_accuracy: 0.8028
Epoch 19/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4518 - accuracy: 0.8565 - val_loss: 0.6478 - val_accuracy: 0.8028
Epoch 20/30
29/29 [==============================] - 0s 3ms/step - loss: 0.3753 - accuracy: 0.8768 - val_loss: 0.6710 - val_accuracy: 0.8028
Epoch 21/30
29/29 [==============================] - 0s 4ms/step - loss: 0.3873 - accuracy: 0.8745 - val_loss: 0.8168 - val_accuracy: 0.8028
Epoch 22/30
29/29 [==============================] - 0s 4ms/step - loss: 0.4300 - accuracy: 0.8620 - val_loss: 0.6566 - val_accuracy: 0.8028
Epoch 23/30
29/29 [==============================] - 0s 3ms/step - loss: 0.3973 - accuracy: 0.8539 - val_loss: 0.9978 - val_accuracy: 0.4507
Epoch 24/30
29/29 [==============================] - 0s 3ms/step - loss: 0.8201 - accuracy: 0.6509 - val_loss: 0.7448 - val_accuracy: 0.6338
Epoch 25/30
29/29 [==============================] - 0s 4ms/step - loss: 0.4065 - accuracy: 0.8438 - val_loss: 0.6734 - val_accuracy: 0.8028
Epoch 26/30
29/29 [==============================] - 0s 4ms/step - loss: 0.3978 - accuracy: 0.8722 - val_loss: 0.6572 - val_accuracy: 0.8028
Epoch 27/30
29/29 [==============================] - 0s 3ms/step - loss: 0.3547 - accuracy: 0.8999 - val_loss: 0.6615 - val_accuracy: 0.8028
Epoch 28/30
29/29 [==============================] - 0s 3ms/step - loss: 0.3977 - accuracy: 0.8689 - val_loss: 0.6837 - val_accuracy: 0.8028
Epoch 29/30
29/29 [==============================] - 0s 3ms/step - loss: 0.3340 - accuracy: 0.8783 - val_loss: 0.8275 - val_accuracy: 0.8028
Epoch 30/30
29/29 [==============================] - 0s 4ms/step - loss: 0.4238 - accuracy: 0.8761 - val_loss: 0.6978 - val_accuracy: 0.8028

In [33]:
result = model.evaluate(X_test, y_test)
acc = result[1]
acc

4/4 [==============================] - 0s 3ms/step - loss: 0.5042 - accuracy: 0.8475

0.8474576473236084